---
import Layout from '@/layouts/Layout.astro';
import DefDisplay from '@/components/views/DefDisplay';
import TagsIcon from '@/components/icons/Tags.astro';
import Loader from '@/components/Loader.astro';
import { getI18N } from '@/i18n';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout
	title={`${i18n.SEO.TITLE_SEARCH}`}
	description={`${i18n.SEO.DESCRIPTION_SEARCH}`}
>
	<header id='page-title'>
		<h1>{i18n.SEARCH.TITLE}</h1>
		<p>{i18n.SEARCH.DESCRIPTION}</p>
	</header>

	<!-- @ts-ignore -->
	<DefDisplay lang={currentLocale} i18n={i18n} client:only>
		<TagsIcon slot='tagsIcon' />
		<Loader slot='loader' />
	</DefDisplay>
</Layout>

<style>
	header#page-title {
		padding: 4em 0 2em;

		h1 {
			margin-bottom: 0.5em;
			text-align: center;
		}

		p {
			text-align: center;
			text-wrap: pretty;
		}
	}
</style>
